# Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Apple Music
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=

# Optional
# SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/api/auth/spotify/callback
# APPLE_MUSIC_STOREFRONT=us
